polymarket_trade_alert.json
{
  "name": "Polymarket Trade Alert Bot",
  "nodes": [
    {
      "id": "n1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "n2",
      "name": "Buscar Tweets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.twitterapi.io/twitter/tweet/advanced_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "new1_66acebb53fd84017b9dae022daf0ad0f"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "(breaking OR \"just in\") (election OR rates OR fed OR crypto OR bitcoin OR trump OR tariff OR ceasefire OR war) -is:retweet lang:en"
            },
            {
              "name": "queryType",
              "value": "Latest"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "n3",
      "name": "Extrair Tweets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nconst tweets = data.tweets || [];\n\nif (tweets.length === 0) {\n  return [{ json: { signal: \"NO_TRADE\", reason: \"Nenhum tweet retornado pela API\" } }];\n}\n\nreturn tweets.map(function(tweet) {\n  return {\n    json: {\n      id: tweet.id || \"\",\n      text: tweet.text || \"\",\n      author: (tweet.author && tweet.author.userName) || \"\",\n      author_followers: (tweet.author && tweet.author.followers) || 0,\n      createdAt: tweet.createdAt || \"\",\n      retweetCount: tweet.retweetCount || 0,\n      likeCount: tweet.likeCount || 0,\n      viewCount: tweet.viewCount || 0,\n      url: tweet.url || \"\",\n      isReply: tweet.isReply || false\n    }\n  };\n});"
      }
    },
    {
      "id": "n4",
      "name": "Processar um por um",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        910,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "n5",
      "name": "Analisar Noticia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst tweet = item.json;\n\nif (tweet.signal === \"NO_TRADE\") { return [item]; }\n\nconst createdAt = tweet.createdAt || \"\";\nif (createdAt) {\n  const tweetDate = new Date(createdAt);\n  const minutesAgo = (Date.now() - tweetDate.getTime()) / 60000;\n  if (minutesAgo > 35) {\n    return [{ json: { signal: \"NO_TRADE\", reason: \"Tweet mais antigo que 35 minutos (\" + Math.round(minutesAgo) + \"min)\" } }];\n  }\n}\n\nreturn [{\n  json: {\n    news_text: tweet.text || \"\",\n    tweet_id: tweet.id || \"\",\n    tweet_url: tweet.url || \"\",\n    author: tweet.author || \"\",\n    author_followers: tweet.author_followers || 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "n6",
      "name": "É Recente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1350,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.signal }}",
              "rightValue": "NO_TRADE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n13",
      "name": "Preparar Prompt IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1570,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nfunction sanitize(text) {\n  return (text || \"\")\n    .replace(/https?:\\/\\/\\S+/g, \"\")\n    .replace(/\\*/g, \"\")\n    .replace(/[\\uD800-\\uDFFF]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst tweetText = sanitize(data.news_text);\nconst author = data.author || \"\";\nconst followers = data.author_followers || 0;\n\nconst prompt = `You are a Polymarket prediction market expert. Analyze this tweet and determine if it contains breaking news that would affect prediction markets.\n\nTweet: \"${tweetText}\"\nAuthor: @${author} (${followers} followers)\n\nTASK: If this tweet reports a real-world event relevant to prediction markets (elections, policy decisions, geopolitical events, economic announcements, regulatory changes, conflicts, etc.), respond with the best 2-5 word Polymarket search query that will find the most relevant active markets.\n\nRULES for your query:\n- Use 2 to 5 words minimum\n- Use full English words only — no abbreviations, no ticker symbols, no acronyms\n- Never use ALL CAPS words (write 'bitcoin' not 'BTC' or 'BIT', 'federal reserve' not 'FED', 'artificial intelligence' not 'AI')\n- Be specific: combine the actor + action or topic + context\n- Focus on the event, not the asset price\n\nIf the tweet is a reply, personal opinion, joke, insult, spam, or does NOT relate to any verifiable event that prediction markets would track, respond with exactly: NO_TRADE\n\nExamples of GOOD queries: fed rate cut, iran nuclear deal, trump china tariff, ukraine russia ceasefire, bitcoin etf approval, israel iran attack\nExamples of BAD queries (never do this): BIT, BTC, FED, AI, Iran, Trump, Bitcoin\n\nRespond with ONLY the search query or NO_TRADE. Nothing else.`;\n\nreturn [{ json: { ...data, ai_prompt: prompt } }];"
      }
    },
    {
      "id": "n14",
      "name": "Agente de IA",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1790,
        180
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ai_prompt }}"
      }
    },
    {
      "id": "n16",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1790,
        400
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 50
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "1",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "id": "n15",
      "name": "Extrair Query IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2010,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst response = item.json;\nconst newsData = $('Preparar Prompt IA').first().json;\n\nlet aiQuery = (response.text || response.response || response.output || \"\").trim();\naiQuery = aiQuery.replace(/[\\\"']/g, \"\").replace(/\\s+/g, \" \").trim();\n\nif (!aiQuery || aiQuery.toUpperCase().startsWith(\"NO_\") || aiQuery.toUpperCase() === \"NO\") {\n  return [{ json: { signal: \"NO_TRADE\", reason: \"LLM determinou que o tweet nao e relevante para mercados de predicao\" } }];\n}\n\nreturn [{\n  json: {\n    news_text: newsData.news_text,\n    tweet_id: newsData.tweet_id,\n    tweet_url: newsData.tweet_url,\n    author: newsData.author,\n    author_followers: newsData.author_followers,\n    search_query: aiQuery,\n    ai_query: aiQuery,\n    timestamp: newsData.timestamp\n  }\n}];"
      }
    },
    {
      "id": "n17",
      "name": "É Relevante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2230,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.signal }}",
              "rightValue": "NO_TRADE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n7",
      "name": "Buscar Mercados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2450,
        180
      ],
      "parameters": {
        "method": "GET",
        "url": "https://gamma-api.polymarket.com/public-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.search_query }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "n8",
      "name": "Filtrar Mercados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2670,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const newsData = $('Extrair Query IA').first().json;\nconst responseData = $input.first().json;\n\n// public-search retorna { events: [...], pagination: {...} }\nconst events = responseData.events || [];\n\n// Extrair todos os mercados dos eventos\nlet allMarkets = [];\nfor (const event of events) {\n  if (event.archived) continue;\n  const eventMarkets = event.markets || [];\n  for (const market of eventMarkets) {\n    if (market.active === false || market.closed === true || market.archived === true) continue;\n    allMarkets.push(Object.assign({}, market, {\n      eventSlug: event.slug,\n      eventTitle: event.title\n    }));\n  }\n}\n\n// Filtrar por volume > $500\nallMarkets = allMarkets.filter(function(m) {\n  return parseFloat(m.volumeNum || m.volume || 0) > 500;\n});\n\nif (allMarkets.length === 0) {\n  return [{ json: {\n    signal: 'NO_TRADE',\n    reason: 'Nenhum mercado ativo encontrado para: ' + (newsData.ai_query || newsData.search_query || ''),\n    news_text: newsData.news_text,\n    tweet_id: newsData.tweet_id,\n    author: newsData.author,\n    author_followers: newsData.author_followers,\n    ai_query: newsData.ai_query\n  } }];\n}\n\nconst queryWords = (newsData.ai_query || '').toLowerCase().split(/\\s+/).filter(function(w) { return w.length > 2; });\nconst threshold = queryWords.length >= 3 ? 2 : 1;\n\nconst filtered = allMarkets\n  .filter(function(m) {\n    if (queryWords.length === 0) return true;\n    const text = [\n      m.question || '',\n      (m.description || '').substring(0, 300),\n      m.eventTitle || '',\n      m.groupItemTitle || ''\n    ].join(' ').toLowerCase();\n    const matchCount = queryWords.filter(function(word) { return text.includes(word); }).length;\n    return matchCount >= threshold;\n  })\n  .sort(function(a, b) {\n    return parseFloat(b.volumeNum || b.volume || 0) - parseFloat(a.volumeNum || a.volume || 0);\n  })\n  .slice(0, 5);\n\nif (filtered.length === 0) {\n  return [{ json: {\n    signal: 'NO_TRADE',\n    reason: 'Nenhum mercado passou no filtro de relevancia para: ' + (newsData.ai_query || ''),\n    news_text: newsData.news_text,\n    tweet_id: newsData.tweet_id,\n    author: newsData.author,\n    author_followers: newsData.author_followers,\n    ai_query: newsData.ai_query\n  } }];\n}\n\nreturn [{ json: {\n  markets: filtered,\n  market_count: filtered.length,\n  news_text: newsData.news_text,\n  tweet_id: newsData.tweet_id,\n  tweet_url: newsData.tweet_url,\n  author: newsData.author,\n  author_followers: newsData.author_followers,\n  ai_query: newsData.ai_query,\n  timestamp: newsData.timestamp\n} }];\n"
      }
    },
    {
      "id": "n9",
      "name": "Gerar Sinal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2890,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nif (data.signal === \"NO_TRADE\") { return [item]; }\n\nconst markets = data.markets || [];\nif (markets.length === 0) {\n  return [{ json: { signal: \"NO_TRADE\", reason: \"Lista de mercados vazia\" } }];\n}\n\nconst top = markets[0];\nconst news = data.news_text || \"\";\n\nfunction esc(text) {\n  return (text || \"\").replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\");\n}\n\nlet yesPrice = 0.5;\ntry {\n  const prices = typeof top.outcomePrices === \"string\"\n    ? JSON.parse(top.outcomePrices)\n    : (top.outcomePrices || []);\n  yesPrice = parseFloat(prices[0] || 0.5);\n} catch(e) {}\n\nconst volume = parseFloat(top.volumeNum || top.volume || 0);\nconst yesPct = Math.round(yesPrice * 100);\n\nlet direction, expectedTo, confidence;\nif (yesPrice <= 0.30) {\n  direction = \"BUY_YES\";\n  expectedTo = Math.min(yesPct + 20, 95);\n  confidence = 70;\n} else if (yesPrice >= 0.70) {\n  direction = \"BUY_NO\";\n  expectedTo = Math.max(yesPct - 20, 5);\n  confidence = 68;\n} else {\n  direction = \"BUY_YES\";\n  expectedTo = Math.min(yesPct + 12, 95);\n  confidence = 60;\n}\n\nif (volume > 100000) confidence = Math.min(confidence + 8, 88);\nif (volume > 500000) confidence = Math.min(confidence + 5, 88);\n\nconst followers = data.author_followers || 0;\nif (followers > 100000) confidence = Math.min(confidence + 5, 88);\n\nconst eventSlug = top.eventSlug || (top.events && top.events[0] && top.events[0].slug) || \"\";\nconst marketSlug = top.slug || \"\";\nlet marketUrl;\nif (eventSlug && marketSlug) {\n  marketUrl = \"https://polymarket.com/event/\" + eventSlug + \"/\" + marketSlug;\n} else if (eventSlug) {\n  marketUrl = \"https://polymarket.com/event/\" + eventSlug;\n} else if (marketSlug) {\n  marketUrl = \"https://polymarket.com/event/\" + marketSlug;\n} else if (top.id) {\n  marketUrl = \"https://polymarket.com/markets?id=\" + top.id;\n} else {\n  marketUrl = \"https://polymarket.com/markets?search=\" + encodeURIComponent(data.ai_query || \"\");\n}\nconst question = esc(top.question || top.title || \"N/A\");\nconst newsSummary = esc(news.length > 120 ? news.substring(0, 120) + \"...\" : news);\nconst authorInfo = data.author ? \"@\" + esc(data.author) : \"fonte desconhecida\";\nconst aiQueryInfo = data.ai_query ? \"\\n\\uD83E\\uDD16 <b>Query IA:</b> <code>\" + esc(data.ai_query) + \"</code>\" : \"\";\n\nconst msg = \"🚨 <b>ALERTA DE TRADE - POLYMARKET</b>\\n\\n\"\n  + \"🐦 <b>Tweet de \" + authorInfo + \":</b>\\n\" + newsSummary + \"\\n\\n\"\n  + \"📊 <b>Mercado:</b>\\n\" + question + \"\\n\\n\"\n  + \"🎯 <b>Direcao:</b> <code>\" + direction + \"</code>\\n\"\n  + \"💪 <b>Confianca:</b> \" + confidence + \"%\\n\"\n  + \"📈 <b>Movimento:</b> \" + yesPct + \"% \\u2192 \" + expectedTo + \"%\\n\"\n  + \"💰 <b>Volume:</b> $\" + Math.round(volume).toLocaleString(\"en-US\") + aiQueryInfo + \"\\n\\n\"\n  + \"🐦 \" + (data.tweet_url || \"\") + \"\\n\"\n  + \"🔗 \" + marketUrl;\n\nreturn [{ json: {\n  signal: \"TRADE\",\n  market_id: top.id || \"\",\n  market_question: question,\n  market_url: marketUrl,\n  direction: direction,\n  confidence: confidence,\n  expected_from: yesPct,\n  expected_to: expectedTo,\n  current_price_yes: yesPct,\n  volume: volume,\n  news_summary: newsSummary,\n  tweet_id: data.tweet_id || \"\",\n  tweet_url: data.tweet_url || \"\",\n  author: data.author || \"\",\n  author_followers: data.author_followers || 0,\n  ai_query: data.ai_query || \"\",\n  telegram_message: msg,\n  timestamp: new Date().toISOString()\n} }];"
      }
    },
    {
      "id": "n10",
      "name": "Verificar Oportunidade",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3110,
        180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.signal }}",
              "rightValue": "TRADE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "n11",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3330,
        80
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "2074413015",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "id": "n12",
      "name": "Sem Oportunidade",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3330,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tweets": {
      "main": [
        [
          {
            "node": "Extrair Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Tweets": {
      "main": [
        [
          {
            "node": "Processar um por um",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar um por um": {
      "main": [
        [
          {
            "node": "Analisar Noticia",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Analisar Noticia": {
      "main": [
        [
          {
            "node": "É Recente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Recente?": {
      "main": [
        [
          {
            "node": "Preparar Prompt IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Oportunidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt IA": {
      "main": [
        [
          {
            "node": "Agente de IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente de IA": {
      "main": [
        [
          {
            "node": "Extrair Query IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Query IA": {
      "main": [
        [
          {
            "node": "É Relevante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Relevante?": {
      "main": [
        [
          {
            "node": "Buscar Mercados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Oportunidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Mercados": {
      "main": [
        [
          {
            "node": "Filtrar Mercados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mercados": {
      "main": [
        [
          {
            "node": "Gerar Sinal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Sinal": {
      "main": [
        [
          {
            "node": "Verificar Oportunidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Oportunidade": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Oportunidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Processar um por um",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem Oportunidade": {
      "main": [
        [
          {
            "node": "Processar um por um",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6"
}